* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color-scheme: dark;
}

body {
  font-family: "Muli", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 500;
  color: #e5e5e5;
  background-color: #07090b;
  padding: 40px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.app {
  display: flex;
  flex-flow: row wrap;
  max-width: 1140px;
  gap: 16px;
  margin: 0 auto;
}

.container {
  flex-grow: 1;
  border: 1px solid #232427;
  border-radius: 12px;
  padding: 16px 30px;
  min-width: 320px;
  height: fit-content;

  label {
    margin: 10px 0;
    color: #d9dadc;
  }

  small {
    margin-block-start: 13px;
    font-size: 13px;
  }

  .button {
    margin-top: 10px;
  }
}

input {
  padding: 15px 17px;
  border-radius: 11px;
  border: 1px solid #232427;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  margin-block-start: 9px;

  &:focus {
    outline: 2px solid #292a2c;
  }
}

.button {
  background-color: #e5e5e5;
  border-radius: 11px;
  padding: 13px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #181a1b;
  transition: 150ms opacity ease-out;

  &:hover {
    cursor: pointer;
    opacity: 0.85;
  }
}

.wallet {
  display: flex;
  flex-direction: column;

  .balance {
    font-weight: 600;
    display: flex;
    margin-top: 10px;
    padding: 20px 26px;
    background-color: #23242720;
    border: 1px solid #232427;
    border-radius: 11px;
  }
}

.transfer {
  display: flex;
  flex-direction: column;
}
